@import 'variable';
@import 'mixin';


.ast-sticky-active {
  // top: 39px !important;
}
.qz-header-marquee {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: opacity .2s;
  background-color: var(--primary);
  &.float {
    position: sticky;
    top: 0;
    z-index: 9;
  }
  .qz-header-marquee__inner {
    // height: 50px;
  }
  .slick-slide {
    
  }
  .slick-track {
    display: flex;
    flex-direction: column;
  }
  .qz-header-marquee__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // min-height: 40px;
    padding: 6px 10px;
    .qz-header-marquee__text {
      font-size: 14px;
      line-height: 1.8;
      text-align: center;
    }
    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
