@import 'variable';
@import 'mixin';

/* =========================================
   plugins
   ========================================= */



/* YITH WooCommerce Wishlist 追蹤清單  */
.yith-add-to-wishlist-button-block {
    .yith-wcwl-add-to-wishlist-button.yith-wcwl-add-to-wishlist-button--anchor {
        &:hover {
            color: var(--text);
        }
        svg.yith-wcwl-icon-svg {
            width: 20px;
            height: 20px;
        }
    }
}
.yith-wcwl-add-to-wishlist-button.yith-wcwl-add-to-wishlist-button--icon-button:is(button) {
    box-shadow: 0 0 0 transparent;
    // background-color: #ffffff99;
    padding: 6px;
    left: unset;
    top: unset;
    bottom: 0;
    right: 0;
    &:hover {
        // background-color: #ffffff99;
    }
    svg.yith-wcwl-add-to-wishlist-button-icon {
        width: 20px;
        height: 20px;
    }
}

.awdr_discount_bar {
    padding: 10px 0 !important;
}

//會員專區 > 追蹤清單
.woocommerce-MyAccount-navigation-link--wishlist {
    > a .ahfb-svg-iconset {
        &::before {
            content: "\2665";
            font-size: 18px;
            color: var(--primary);
        }
        svg {
            display: none;
        }
    }
}
.wishlist-title {
    display: flex;
    align-items: center;
    .button {
        display: flex !important;
        padding: 2px 10px;
    }
}
#wishlist-container {
    table {
        thead {
            @include md() {
                display: none;
            }
        }
        th, td {
            font-size: 15px;
        }
        th {
            text-align: left;
            padding: 15px;
        }
        tbody {
            tr {
                @include md() {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    border: 1px solid #c1c1c1;
                    border-radius: 5px;
                    overflow: hidden;
                    margin-bottom: 5%;
                }
            }
            td {
                border-bottom: 1px solid #e7e7e7 !important;
                @include md() { 
                    border-bottom: 0 !important;
                }
            }
            
        }
        .product-remove {
            .remove {
                padding: 0 0 0 1px;
                line-height: 1;
                
                &::before {
                    border: 0;
                }
            }
            @include md() {
                padding: 0;
                position: absolute;
                right: 10px;
                top: 10px;
                border-bottom: 0;
                right: 30px;
                > div {
                    width: 20px;
                }
            }
        }
        .product-price, .product-stock-status {
            @include md() {
                padding-top: 0;
                padding-bottom: 0;
                min-height: auto !important;
            }
            
        }
        .product-thumbnail {
            width: auto !important;
            display: table-cell !important;
            a {
                @include md() {
                    max-width: 100%;
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .product-add-to-cart {
            a {
                color: var(--text-w);
                background-color: var(--primary);
                border-radius: 3px;
                padding: 5px;
                width: 100%;
                display: block !important;
            }
        }
    }
}

    


/* WPLoyalty (會員積點、會員等級)  */
//會員專區 > 點數與獎勵
.woocommerce-MyAccount-navigation-link--loyalty_reward {
    > a .ahfb-svg-iconset {
        &::before {
            font-family: loyalty !important;
            content: "\e9a7";
            font-size: 18px;
            color: var(--primary);
        }
        svg {
            display: none;
        }
    }
}
//會員專區 > 點數與獎勵 內容
.woocommerce-MyAccount-content {
    .wlr-myaccount-page.wlr-page-myaccount {
        .wlr-heading {
            padding-left: 15px;
        }
        // 我的點數
        .wlr-points-container {
            .wlr-border-color {
                > div {
                    .wlr-text-color {
                        &:first-of-type {
                            // font-size: 14px !important;
                        }
                        &:nth-of-type(2) {
                            // font-size: 24px !important;
                        }
                    }
                }
            }
            
        }
        // 我的獎勵
        .wlr-user-reward-contents {
            #wlr-point-conversion-section-1 {
                .wlr-input-point-section {
                    flex-direction: column;
                    width: 100%;
                    .wlr-input-point-conversion {
                        border: 0;
                        input {
                            // width: 60px;
                            width: 100%;
                            text-align: center;
                            border: 0;
                            border-radius: 0 !important;
                            background-color: #e9f0d9;
                        }
                    }
                    .wlr-point-label-content {
                        width: 100%;
                        border: 0;
                        border-radius: 0;
                        font-size: 16px;
                    }
                    .wlr-input-point-title {
                        width: 100%;
                        text-align: center;
                        margin-top: 5px;
                        // display: flex;
                        // flex-direction: row-reverse;
                        .wlr-point-conversion-discount-label {
                            padding-left: 0 !important;
                        }
                    }
                }
            } 
            .wlr-card-inner-container {
                margin-bottom: 15px;
                .wlr-name {
                    margin-bottom: 5px !important;
                } 
            }
            .wlr-error {
                font-size: 14px;
                text-align: center;
                margin-bottom: 5px;
            }
            
        }
        // 如何獲取獎勵
        .wlr-earning-options {
            .wlr-name {
                margin-bottom: 10px !important;
            }
        }
        // 近期操作
        .wlr-table, #wlr-transaction-table {
            * {
                font-size: 14px !important;
            }
            thead > tr:first-of-type th {
                
            }
            tr {
                >td, >th {
                    padding: 10px 8px;
                    min-width: 120px;
                    font-size: 14px !important;
                    border-bottom: 1px solid #d9d9d9 !important;
                }
                &:last-of-type {
                    >td, >th {
                        border-bottom: 0 !important;
                    }
                }
            }
        }
    }
}

//會員專區 > 帳戶詳細資料
.form-row.ast-animate-input #wlr_dob {
    padding: 1.45em .8em .35em;
}
#wlr_dob {
    //生日欄位
    min-height: 50px;
    background-color: unset;  
}

//產品單頁
.wlr-product-message {
    padding-left: 0 !important;
    margin-bottom: 10px;
}