@import 'variable';
@import 'mixin';

//文章目錄(目前只顯示在文章內頁)

div#ez-toc-container {
//  先隱藏外掛自動插入的部分，不能關外掛，功能會壞掉
  display: none;
}

.ph-toc {
  #ez-toc-container {
    display: block;
    padding: 10px;
    box-shadow: 0 0px 0px transparent;
  }
  .ez-toc-list {
    li {
      padding: 0;
      > a {
        color: #000000 !important;
        display: block !important;
        padding: 5px 15px;
        position: relative;
        font-size: 15px !important;
        letter-spacing: 0;
        line-height: 1.4;
        display: flex !important;
        align-items: start !important;
        &::before {
          content: counters(item, '.', decimal);
          color: var( --primary );
          font-weight: bold;
          // background-color: #ffd5cc;
          // border-radius: 50px;
        }
        &::after {
          // content: '';
          // display: block;
          // width: 100%;
          // height: 100%;
          // position: absolute;
          // left: 0;
          // top: 0;
          // z-index: 1;
        }
        &:hover {
          text-decoration: none !important;
        }
      }
      
      &.active {
        // background-color: mix(white, var( --primary ), 85%) !important;
        > a {
          font-weight: 700;
          // border-left:3px solid #f90;
          background-color: rgba-var(var( --primary ), 0.25);
          // @include bgGradient(to left, rgba-var(var( --primary ), 0) 20%,rgba-var(var( --primary ), 0.2) 100%);
          &::after {
            // background-color: mix(white, var( --primary ), 85%) !important;
          }
          
        }
      }
      &.ancestor {
        > a {
          text-decoration:underline;
        }
      }
    }

    // === 目錄層級縮排設定 ===
    &.ez-toc-list-level-1 {
      > li {
        > a {
          font-weight: 600 !important;
          &::before {
            // content: counters(item, '.', decimal) '. ';
            content: counters(item, '.', decimal);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            background-color: var( --primary );
            min-width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            border-radius: var(--radius);
            // font-size: 14px;
            line-height: 1.6;
            position: relative;
            margin: 2px 5px 0 0;
          }
        }
        &.active {
          // border-left: 2px solid var( --primary );
          > a {
            padding-left: 5px;
            padding-right: 5px;
            &::before {
              // background-color: var( --primary );
              // color: #fff;
            }
          }
        }
      }
    }
    .ez-toc-list-level-3 {
      margin-left: 0 !important;
     > li {
        > a {
          padding-left: 18px;
          // color: #3f3f3f !important;
          font-weight: 400 !important;
          &::before {
            // background: var( --primary );
            font-weight: 500;
            font-size: 14px;
            padding: 1px 5px;
            border-radius: 6px;
          }
        }
      }
    }
  }
}
.ph-toc-desk {
  display: block;
  .ph-toc-desk-warp {
    #ez-toc-container {
      width: 100%;
      background-color: #fff;
      border-radius: var(--radius);
      // border: 2px solid var( --primary );
      // box-shadow: 0px 5px 0 rgba-var(224, 126, 94, 0.1);
      padding: 0;
      overflow: hidden;
      padding: 20px 25px;
      border: 0;
      // &.toc_close {
      //   .ez-toc-title-container {
      //     border-bottom: 0;
      //   }
      // }
      .ez-toc-title-container {
        padding: 0;
        // background-color: #f3f3f3;
        // border-bottom: 2px solid var( --primary );
        .ez-toc-title {
          font-size: 26px;
          // color: var( --primary );
          font-weight: 600;
        }
        .ez-toc-title-toggle {
          .ez-toc-js-icon-con {
            border: 0;
          }
        }
      }
      
    }
    nav {
      max-height: calc(100vh - 200px);
      overflow-y: auto;
      // border-top: 2px solid var( --primary );
      // box-shadow: 0 -1px 0 #aaa;
      > ul {
        padding: 10px 0 15px 0 !important;
      }
      ul {
        > li {
          &.active {
            > a {
              border-radius: 10px !important;
            }
          }
        }
      }
      
    }
    .ez-toc-list-level-1 {
      > li {
        > a {
          padding: 6px 0;
        }
      }
    }
    &.active {
      position: fixed;
      top: 110px;
    }
  }
  @include ml() {
    display: none;
  }
}
.ph-toc-mobile {
  display: none;
  @include ml() {
    display: block;
    #ph-toc-fab {
      display: none;
      position: fixed;
      right: 0;
      top: 50vh;
      border-radius: 5px 0 0 5px;
      padding: 10px;
      background-color: var( --primary );
      transform: translateY(-50%);
      border: 1px solid var(--bg);
      border-right: 0;
      transform: translateY(-50%);
      svg {
        color: #ffffff;
        width: 25px;
        height: 25px;
      }
      &.active {
        display: block;
      }
    }
    #ph-toc-modal, #ph-toc-overlay {
      display: none;
      &.active {
        display: block;
        height: 100vh;
        top: 0;
        bottom: 0;
        z-index: 9999;
      }
    }
    #ph-toc-overlay {
      position: fixed;
      background-color: rgba-var(#000, 0.2);
      width: 100vw;
      left: 0;
      right: 0;
    }
    #ph-toc-modal {
      min-width: 40%;
      max-width: 80%;
      position: fixed;
      right: 0;
      background-color: #ffffff;
      border-left: 1px solid var( --primary );
      .ph-toc-head {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var( --primary );
        padding: 5px 0 5px 10px;
        .left {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        svg {
          font-size: 20px;
          width: 24px;
          color: var( --primary );
          margin: 2px 0 -2px;
        }
        strong {
          font-size: 18px;
        }
        .ph-toc-close {
          background-color: transparent;
          border: 0;
          color: var(--text);
        }
      }

      .ph-toc-body {
        #ez-toc-container {
          width: 100%;
          background: transparent;
          border: 0;
          box-shadow: 0 0px 0px transparent;
          // padding: 10px 0 0 0;
          margin: 0;
          nav {
            height: 90vh;
            overflow-y: auto;
          }
          .ez-toc-list-level-1 {
            > li {
              > a {
                padding: 5px 0;
              }
            }
          }
        }
        .ez-toc-title-container {
          display: none;
        }
      }
    }
  }
}