:root {
    --primary: var(--e-global-color-astglobalcolor1);
    --second: var( --e-global-color-astglobalcolor0 );
    --acc: var( --e-global-color-astglobalcolor4 );
    --text: var( --e-global-color-astglobalcolor2 );
    --text-l: var( --e-global-color-astglobalcolor3 );
    --text-w: var( --e-global-color-astglobalcolor5 );

    --bg: var( --e-global-color-astglobalcolor5 );

    --radius: 10px;
}

